<footer class="container-fluid footer">
  <div class="row footer-container d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-4 footer-container-box1 d-flex justify-content-center align-items-center">
      <div class="position-relative">
        <img class="position-relative" src="../../../assets/img/logos-titles/title.svg" routerLink="/home"
          alt="Billies">
        <img class="position-absolute" src="../../../assets/img/figures/circle.svg" alt="">
      </div>
    </div>
    <div class="col-12 col-md-4 footer-container-box2 d-flex flex-column justify-content-center align-items-center">
      <h5>{{'footer' | translate}}</h5>
      <div class="position-relative d-flex justify-content-between align-items-center mt-2">
       <a href="https://instagram.com/billieswknd.nft?igshid=YmMyMTA2M2Y=" target="_blank">
        <img src="../../../assets/img/icons/ig.svg" alt="Instagram">
      </a>
       <a href="https://twitter.com/billieswknd?s=11&t=dBYMgexDgxIJqVc-YMPcHQ" target="_blank">
        <img src="../../../assets/img/icons/twitter.svg" alt="Twitter">
      </a>
        <a href="https://discord.gg/ztRdbgeSSA" target="_blank">
          <img src="../../../assets/img/icons/discord.svg" alt="Discord">
        </a>

      </div>
    </div>
    <div class="col-12 col-md-4 footer-container-box3 d-flex justify-content-center">

      <app-lang></app-lang>

    </div>
    <div class="col-12 row footer-container-box4">
      <h5 class="text-center">© 2022 All rights reserved</h5>
    </div>

  </div>
</footer>
