<div class="container-fluid px-0 home" id="top">
  <!-- BACKGROUND ! -->
  <div class="bg1">
    <div class="row home-section1">
      <div
        class="col-12 col-lg-5 d-flex align-items-center justify-content-center position-relative home-section1-box1">
        <div class="home-section1-box1-all">
          <!-- TITULO Y ESTRELLA QUE VAN EN LA PARTE SUPERIOR  -->
          <div class="position-absolute d-flex justify-content-between title-star">
            <div class="position-relative">
              <img class="position-relative" src="../../../assets/img/logos-titles/title.svg" routerLink="/home" alt="">
              <img class="position-absolute" src="../../../assets/img/figures/circle.svg" alt="">
            </div>
            <img class="star" src="../../../assets/img/figures/star.svg" alt="">
          </div>
          <!-- CAJA QUE CONTIENE LOS ELEMENTOS DEL CENTRO DEL HOME SECCION 1  -->
          <div class="home-section1-box1-item text-center text-lg-start over" data-aos="fade-right">
            <h4>{{'home.section1.title1' | translate}}</h4>
            <h2>{{'home.section1.title2' | translate}}</h2>
            <h4 class="mb-5">{{'home.section1.title3' | translate}}</h4>
            <div class="mt-3">
              <a href="https://forms.gle/DhrWLcpdMwFYDBt1A" target="_blank">
              <app-btn name="Mint"></app-btn></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 home-section1-box2">
        <div class="row home-section1-box2-items h-100 d-none d-lg-flex">
          <div class="col-12 col-sm-4"></div>
          <div class="col-12 col-sm-4"></div>
          <div class="col-12 col-sm-4"></div>
        </div>
      </div>
    </div>

    <div class="row home-section2 ">
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center home-section2-box1 overflow-hidden">
        <div class="position-relative home-section2-box1" data-aos="fade-up">
          <h2 class="mt-5 mt-lg-0">{{'home.section2.title1' | translate}}
            <br>{{'home.section2.title2' | translate}}
          </h2>
          <div class="star d-flex flex-column position-absolute">
            <img class="" src="../../../assets/img/figures/star.svg" alt="">
            <img class="position-relative" src="../../../assets/img/figures/star.svg" alt="">
          </div>
          <p>{{'home.section2.p' | translate}}
          </p>

          <div class="btns d-flex flex-column pb-3">
            <app-btn name="Watch Video" class="mb-4" id="videoOpen"  (click)="openVideo()"></app-btn>
            <a href="https://forms.gle/DhrWLcpdMwFYDBt1A" target="_blank">
              <app-btn name="Mint"></app-btn></a>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 home-section2-box2 overflow-hidden">
        <div class="home-section2-box2-card w-100 h-100 mx-auto d-flex align-items-center justify-content-center">
          <img class="position-absolute star1" src="../../../assets/img/figures/star.svg" alt="" data-aos="fade-right">
          <img class="position-absolute star2" src="../../../assets/img/figures/star.svg" alt="" data-aos="fade-left">
          <div class="swiper nft" data-aos="fade-up">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper d-flex align-items-center">
              <!-- Slides -->
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item1.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item2.png" alt="">

              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item3.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item4.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item5.png" alt="">

              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item6.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item7.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item8.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item9.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item10.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item11.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item12.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item13.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item14.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item15.png" alt="">
              </div>
            </div>
            <div class="section2-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>
      </div>
        <div class="video  justify-content-center align-items-center"  id="video">
          <img class="close" src="../../../assets/img/figures/close.png" alt="" id="videoClose" (click)="closeVideo()">
          <iframe id="videoWeb" src="" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="home-section3 row overflow-hidden">
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center position-relative home-section3-box1"
      data-aos="fade-up-right">
      <img class="title" src="../../../assets/img/figures/titlle2.svg" alt="">
      <img class="star position-absolute " src="../../../assets/img/figures/star.svg" alt="">

    </div>
    <div
      class="col-12 col-lg-6 position-relative d-flex flex-column justify-content-center align-items-center mt-5 mt-lg-0 home-section3-box2"
      data-aos="fade-up-left">
      <div>
        <h3 class="mb-5">{{'home.section3.title1' | translate}} </h3>
        <p>{{'home.section3.p1' | translate}}<br><br>

          {{'home.section3.p2' | translate}}
        </p>
        <div class="btn-white">
          <a href="../../../assets/pdfs/whitepaper_{{'lang' | translate}}.pdf" download>
            <app-btn name="Whitepaper"></app-btn>
          </a>

        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="home-section4 row py-5 overflow-hidden">
    <div class="col-12 col-lg-4 position-relative d-flex align-items-center justify-content-center home-section4-box1">
      <h4 class="mb-5" data-aos="fade-right">{{'home.section4.title1' | translate}}
        <span class="mt-2">{{'home.section4.title2' | translate}}</span>
      </h4>
      <img class="star position-absolute " src="../../../assets/img/figures/star.svg" alt="">

    </div>
    <div class="col-12 col-lg-8 home-section4-box2">

      <div class="swiper events">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper d-flex align-items-center">
          <!-- Slides -->
          <div class="swiper-slide">
            <app-card-event event="1" name="MIAMI - USA"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="2" name="CARTAGENA - CO"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="3" name="LA - USA"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="4" name="NEW YORK - USA"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="5" name="BARU ISLAND - CO"></app-card-event>
          </div>
        </div>
        <div class="event-pagination d-flex justify-content-center position-absolute"></div>

      </div>



    </div>

    <app-advertisements class="px-0"></app-advertisements>
  </div>

  <div class="bg-5">
    <div class="home-section5 row pt-5">
      <div class="col-12 col-lg-6 d-flex flex-column
     align-items-center justify-content-center home-section5-box1 overflow-hidden">
        <div class="text-center text-lg-start my-5 my-lg-0" data-aos="flip-left">
          <h4>{{'home.section5.title1' | translate}}<br><span>{{'home.section5.title2' | translate}}</span></h4>
          <p class="mt-5">
            {{'home.section5.p' | translate}}
          </p>
        </div>

      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center home-section5-box2">
        <div class="home-section5-box2-card position-relative" data-aos="flip-right">
          <img class="team" src="../../../assets/img/team/fiorello.png" alt="FIORELLO">
          <img class="star1 position-absolute" src="../../../assets/img/figures/star.svg" alt="">
          <img class="star2 position-absolute" src="../../../assets/img/figures/star.svg" alt="">
          <img class="star3 position-absolute" src="../../../assets/img/figures/star.svg" alt="">
          <h6 class="text-center ">FIORELLO</h6>


        </div>
      </div>

      <div class="col-12 home-section6 overflow-hidden">
        <div class="title position-relative d-flex justify-content-center" data-aos="fade-left">
          <span class="position-absolute">Billie’s</span>
          <h4 class="mb-0">{{'home.section6.title1' | translate}}</h4>
          <img class="star position-absolute" src="../../../assets/img/figures/star.svg" alt="">
        </div>
        <hr class="position-relative">
        <p class="paragraph mx-auto mt-5 text-center" data-aos="fade-up">
          {{'home.section6.p1' | translate}}<br><br>

          {{'home.section6.p2' | translate}}
        </p>

        <div class="benefits mt-5">
          <div class="swiper benefits">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper d-flex align-items-center">
              <!-- Slides -->
              <div class="swiper-slide">
                <app-benefits number="1" p="{{'home.benefits.bf1' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="2" p="{{'home.benefits.bf2' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="3" p="{{'home.benefits.bf3' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="4" p="{{'home.benefits.bf4' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="5" p="{{'home.benefits.bf5' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="6" p="{{'home.benefits.bf6' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="7" p="{{'home.benefits.bf7' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="8" p="{{'home.benefits.bf8' | translate}}"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="9" p="{{'home.benefits.bf9' | translate}}"></app-benefits>
              </div>
            </div>

            <div class="swiper-button-prev benefits-prev"></div>
            <div class="swiper-button-next benefits-next"></div>
            <div class="benefits-pagination d-flex justify-content-center">
              <div>
              </div>
            </div>


          </div>

          <div class="home-section7 px-0">
            <div class="swiper paz">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper d-flex align-items-center">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="home-section7-box1">
                    <h4>{{'home.section7.title1' | translate}}<br><span>{{'home.section7.title2' | translate}}</span>
                    </h4>

                    <p class="p1">{{'home.section7.p1' | translate}}</p>

                    <p class="p2">{{'home.section7.p2' | translate}}</p>
                    <a href="https://granitosdepaz.org.co/" target="_blank" rel="noopener noreferrer">
                      <app-btn name="See more"></app-btn>

                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image1.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image2.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image3.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image4.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image5.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image6.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image7.png" alt="">
                  </div>
                </div>

              </div>

            </div>
          </div>


          <div class="home-section8 row justify-content-center">
            <div class="col-12 col-lg-6 d-flex justify-content-center home-section8-box1">
              <h4>{{'home.section8.title1' | translate}}
              </h4>
            </div>
            <div class="col-12 col-lg-6 home-section8-box2">
              <div class="elements">
                <div class="item1" data-aos="fade-left">
                  <span>{{'home.section8.phase1' | translate}}</span>
                  <p>{{'home.section8.p1' | translate}}</p>
                </div>
                <div class="item2" data-aos="fade-up">
                  <span>{{'home.section8.phase2' | translate}}</span>
                  <p>{{'home.section8.p2' | translate}}</p>
                </div>
                <div class="item3" data-aos="fade-right">
                  <span>{{'home.section8.phase3' | translate}}</span>
                  <p>{{'home.section8.p3' | translate}}</p>
                </div>
                <div class="item4">
                  <span>{{'home.section8.phase4' | translate}}</span>
                  <p>{{'home.section8.p4' | translate}}</p>
                </div>
                <div class="item5">
                  <span>{{'home.section8.phase5' | translate}}</span>
                  <p>{{'home.section8.p5' | translate}}</p>
                </div>
                <div class="item6">
                  <span>{{'home.section8.phase6' | translate}}</span>
                  <p>{{'home.section8.p6' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="home-section8-box3 d-flex justify-content-center align-items-center flex-column">
              <h4>{{'home.section9.title1' | translate}}</h4>
              <hr class="w-100 mx-auto">
              <p>{{'home.section9.p1' | translate}}</p>

            </div>

            <div class="allies position-relative">

              <div class="swiper alianza">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper d-flex align-items-center">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo2.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo3.svg" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo4.svg" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo5.png" alt="">
                    </div>
                  </div>
                </div>

              </div>

              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>

          </div>




        </div>
        <div class="faq position-relative">
          <h3 class="mx-auto">{{'home.faq.faq' | translate}}</h3>
          <div class="img position-relative">
            <img class="star1 position-absolute " src="../../../assets/img/figures/star.svg" alt="">
          </div>

          <div class="faq-box row justify-content-center justify-content-lg-between mt-4 mt-sm-0">
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-right">
              <h4>{{'home.faq.title1' | translate}} </h4>
              <p>{{'home.faq.p1' | translate}} </p>
            </div>
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-left">
              <h4>{{'home.faq.title2' | translate}}</h4>
              <p>{{'home.faq.p2' | translate}} </p>
            </div>
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-up">
              <h4>{{'home.faq.title3' | translate}} </h4>
              <p>0.029 ETH </p>
            </div>
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-up">
              <h4>{{'home.faq.title4' | translate}}</h4>
              <p>{{'home.faq.p4' | translate}}</p>
            </div>
          </div>
        </div>


      </div>

    </div>
