<div class="container-fluid px-0 home">
  <!-- BACKGROUND ! -->
  <div class="bg1">
    <div class="row home-section1">
      <div
        class="col-12 col-lg-5 d-flex align-items-center justify-content-center position-relative home-section1-box1">
        <div class="home-section1-box1-all">
          <!-- TITULO Y ESTRELLA QUE VAN EN LA PARTE SUPERIOR  -->
          <div class="position-absolute d-flex justify-content-between title-star">
            <div class="position-relative">
              <img class="position-relative" src="../../../assets/img/logos-titles/title.svg" routerLink="/home" alt="">
              <img class="position-absolute" src="../../../assets/img/figures/circle.svg" alt="">
            </div>
            <img class="star" src="../../../assets/img/figures/star.svg" alt="">
          </div>
          <!-- CAJA QUE CONTIENE LOS ELEMENTOS DEL CENTRO DEL HOME SECCION 1  -->
          <div class="home-section1-box1-item text-center text-lg-start over" data-aos="fade-right">
            <h4>Creating joy and</h4>
            <h2>weekend vibes</h2>
            <h4 class="mb-5">all week long…</h4>
            <div class="mt-3">
              <app-btn name="Mint" routerLink="/mint"></app-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 home-section1-box2">
        <div class="row home-section1-box2-items h-100 d-none d-lg-flex">
          <div class="col-12 col-sm-4"></div>
          <div class="col-12 col-sm-4"></div>
          <div class="col-12 col-sm-4"></div>
        </div>
        <div class="home-section1-box2-items-movil d-flex d-lg-none">
          <div class="swiper nft">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper d-flex align-items-center">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="../../../assets/img/pictures/item1.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../../../assets/img/pictures/item2.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../../../assets/img/pictures/item3.png" alt="">
              </div>
            </div>
            <!-- If we need scrollbar -->

          </div>
        </div>
      </div>
    </div>

    <div class="row home-section2 ">
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center home-section2-box1 overflow-hidden">
        <div class="position-relative home-section2-box1" data-aos="fade-up">
          <h2 class="mt-5 mt-lg-0">THROUGH
            <br>LOVE & PARTY
            <br>SPIRIT TOGETHER
          </h2>
          <div class="star d-flex flex-column position-absolute">
            <img class="" src="../../../assets/img/figures/star.svg" alt="">
            <img class="position-relative" src="../../../assets/img/figures/star.svg" alt="">
          </div>
          <p>That love connection, a great party, and giving back in meaningful ways.
          </p>

          <div class="btns d-flex flex-column ">
            <app-btn name="Watch Video" class="mb-4"></app-btn>
            <app-btn name="Mint" routerLink="/mint"></app-btn>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 home-section2-box2 overflow-hidden">
        <div class="home-section2-box2-card w-100 h-100 mx-auto d-flex align-items-center justify-content-center" >
          <img class="position-absolute star1" src="../../../assets/img/figures/star.svg" alt="" data-aos="fade-right">
          <img class="position-absolute star2" src="../../../assets/img/figures/star.svg" alt=""data-aos="fade-left">
          <div class="swiper nft" data-aos="fade-up">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper d-flex align-items-center">
              <!-- Slides -->
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item1.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item2.png" alt="">

              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item3.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item4.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item5.png" alt="">

              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item6.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item7.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item8.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item9.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item10.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item11.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item12.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item13.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item14.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item15.png" alt="">
              </div>
              <div class="swiper-slide">
                <img class="nft" src="../../../assets/img/pictures/item16.png" alt="">
              </div>
            </div>
            <div class="section2-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="home-section3 row overflow-hidden">
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center position-relative home-section3-box1" data-aos="fade-up-right">
      <img class="title" src="../../../assets/img/figures/titlle2.svg" alt="">
      <img class="star position-absolute " src="../../../assets/img/figures/star.svg" alt="">

    </div>
    <div
      class="col-12 col-lg-6 position-relative d-flex flex-column justify-content-center align-items-center mt-5 mt-lg-0 home-section3-box2" data-aos="fade-up-left">
      <div>
        <h3 class="mb-5">WHO ARE WE? </h3>
        <p>A global collective made up of people with a social conscience and interest, affinity and curiosity for
          cultural exchange and initiatives to help different communities and that seeks to celebrate the things in life
          that make us happy, that connect us and that give us vibrations of the weekend throughout the week.<br><br>

          It’s an ultra-exclusive community of like-minded people. Join our collective, enjoy it, connect with the
          community and help create opportunities for other people around the world.
        </p>
        <div class="btn-white">
          <app-btn name="Whitepaper"></app-btn>

        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="home-section4 row py-5 overflow-hidden">
    <div class="col-12 col-lg-4 position-relative d-flex align-items-center justify-content-center home-section4-box1">
      <h4 class="mb-5" data-aos="fade-right">UPCOMING
        <span class="mt-2">EVENTS</span>
      </h4>
      <img class="star position-absolute " src="../../../assets/img/figures/star.svg" alt="">

    </div>
    <div class="col-12 col-lg-8 home-section4-box2">

      <div class="swiper events">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper d-flex align-items-center">
          <!-- Slides -->
          <div class="swiper-slide">
            <app-card-event event="1" name="MIAMI - NOV"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="2" name="CARTAGENA - DEC"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="3" name="LA - MARCH 2023"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="4" name="NEW YORK - MAY 2023"></app-card-event>
          </div>
          <div class="swiper-slide">
            <app-card-event event="5" name="BARU - SUMMER 2023"></app-card-event>
          </div>
        </div>
        <div class="event-pagination d-flex justify-content-center position-absolute"></div>

      </div>



    </div>

    <app-advertisements class="px-0"></app-advertisements>
  </div>

  <div class="bg-5">
    <div class="home-section5 row pt-5">
      <div class="col-12 col-lg-6 d-flex flex-column
     align-items-center justify-content-center home-section5-box1 overflow-hidden" >
        <div class="text-center text-lg-start my-5 my-lg-0" data-aos="flip-left">
          <h4>THE<br><span>ARTIST</span></h4>
          <p class="mt-5">
            Brazilian Artist, Fiorello, brings his vibrant color style to 10,000 unique pieces in the collection. There
            are
            over 270 traits and some special rarities.
          </p>
        </div>

      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center home-section5-box2">
        <div class="home-section5-box2-card position-relative" data-aos="flip-right">
          <img class="team" src="../../../assets/img/team/fiorello.png" alt="FIORELLO">
          <img class="star1 position-absolute" src="../../../assets/img/figures/star.svg" alt="">
          <img class="star2 position-absolute" src="../../../assets/img/figures/star.svg" alt="">
          <img class="star3 position-absolute" src="../../../assets/img/figures/star.svg" alt="">
          <h6 class="text-center ">FIORELLO</h6>


        </div>
      </div>

      <div class="col-12 home-section6 overflow-hidden">
        <div class="title position-relative d-flex justify-content-center" data-aos="fade-left">
          <span class="position-absolute">Billie’s</span>
          <h4 class="mb-0">BENEFITS</h4>
          <img class="star position-absolute" src="../../../assets/img/figures/star.svg" alt="">
        </div>
        <hr class="position-relative">
        <p class="paragraph mx-auto mt-5 text-center" data-aos="fade-up">
          Billie´s holders will gain entry into our Weekend Collective and have priority access to future
          projects.<br><br>

          We want to collectively create Billie´s brand and bring value back to our creators and members.
        </p>

        <div class="benefits mt-5">
          <div class="swiper benefits">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper d-flex align-items-center">
              <!-- Slides -->
              <div class="swiper-slide">
                <app-benefits number="1" p="Exclusive access to premium IRL and URL events"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="2" p="Ownership & commercial usage rights"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="3" p="Free Mint and Whitelist for Special Projects"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="4" p="Rare Selection of 500 tokens that will mutate"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="5" p="Access to our Exclusive Members Community"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="6" p="Metaverse access to Billie’s Weekend Collective"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="7" p="Free mint of your digital identity in the Metaverse"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="8" p="Additional asset packs that include educational videos"></app-benefits>
              </div>
              <div class="swiper-slide">
                <app-benefits number="9" p="IRL Treasure Hunt"></app-benefits>
              </div>
            </div>

            <div class="swiper-button-prev benefits-prev"></div>
            <div class="swiper-button-next benefits-next"></div>
            <div class="benefits-pagination d-flex justify-content-center">
              <div>
              </div>
            </div>


          </div>

          <div class="home-section7 px-0">
            <div class="swiper paz">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper d-flex align-items-center">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="home-section7-box1">
                    <h4>GIVING<br><span>BACK</span></h4>

                    <p class="p1">The first foundation we are working with is one close to our hearts, Granitos de Paz
                      based in
                      Cartagena, Colombia.</p>

                    <p class="p2">They provide support and facilitate tools to over 13,000 Colombians to help get them
                      out of
                      extreme poverty and hopelessness, acquire a decent standard of living and a promising future.</p>
                    <app-btn name="See more"></app-btn>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image1.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image2.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image3.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image4.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image5.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image6.png" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="home-section7-box2">
                    <img src="../../../assets/img/paz/image7.png" alt="">
                  </div>
                </div>

              </div>

            </div>
          </div>


          <div class="home-section8 row justify-content-center">
            <div class="col-12 col-lg-6 d-flex justify-content-center home-section8-box1">
              <h4>MET OUR <br>
                ROAD MAP <br>
                2022 - 2023
              </h4>
            </div>
            <div class="col-12 col-lg-6 home-section8-box2">
              <div class="elements">
                <div class="item1" data-aos="fade-left">
                  <span>PHASE 1: Creation</span>
                  <p>Creation of the art and rarities for 10,000 unique NFTs</p>
                </div>
                <div class="item2" data-aos="fade-up">
                  <span>PHASE 2: Mint</span>
                  <p>Mint at 0.029 ETH</p>
                </div>
                <div class="item3" data-aos="fade-right">
                  <span>PHASE 3: Sell Out</span>
                  <p>Once we sell out, the 3-day countdown to reveal begins.</p>
                </div>
                <div class="item4">
                  <span>PHASE 4: Reveal</span>
                  <p>Meet your Billie!</p>
                </div>
                <div class="item5">
                  <span>PHASE 5: Charitable Donation</span>
                  <p>Present our chosen foundation with a donation</p>
                </div>
                <div class="item6">
                  <span>PHASE 6: First Live Sponsored Event</span>
                  <p>Holders will have priority access to this amazing event.</p>
                </div>
              </div>
            </div>
            <div class="home-section8-box3 d-flex justify-content-center align-items-center flex-column">
              <h4>ALLIES</h4>
              <hr class="w-100 mx-auto">
              <p>We’re so thankful for the generosity of our family of sponsors and supporters. This is more than just a
                listing of logos – this is a community of organizations and influencers who truly embrace our community
                and
                our mission of bringing more joy to the world.</p>


            </div>

            <div class="allies position-relative">

              <div class="swiper alianza">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper d-flex align-items-center">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo2.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo3.svg" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo4.svg" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="allies-item">
                      <img src="../../../assets/img/logos-titles/logo5.png" alt="">
                    </div>
                  </div>
                </div>

              </div>

              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>

          </div>




        </div>
        <div class="faq position-relative">
          <h3 class="mx-auto">FAQ</h3>
          <div class="img position-relative">
            <img class="star1 position-absolute " src="../../../assets/img/figures/star.svg" alt="">
          </div>

          <div class="faq-box row justify-content-center justify-content-lg-between mt-4 mt-sm-0">
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-right">
              <h4>HOW MANY NFT ARE GOING TO EXIST? </h4>
              <p>10,000 NFTS IN THE FIRST COLLECTION. </p>
            </div>
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-left">
              <h4>HOW MANY PER</h4>
              <p>3 MAX.</p>
            </div>
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-up">
              <h4>MINT PRICE? </h4>
              <p>0.025 ETH.</p>
            </div>
            <div class="col-12 col-sm-6 mt-5 text-center text-sm-start" data-aos="fade-up">
              <h4>BLOCKCHAIN?</h4>
              <p>ETHEREUM.</p>
            </div>
          </div>
        </div>


      </div>

    </div>
