@import "../../app.component.scss";

.advertisements {
  background-color: #ffffff59;
  backdrop-filter: blur(10px);
  padding: 0.5rem 0;
  margin-top: 3.5rem;
  &-container {
    animation: anuncio 17s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
    span {
      margin: 0 1rem;
      font-size: 1.25rem;
      min-width: 115px;
      
    }
    .default {
      color: $dark-blue;
    }
  }
}

@keyframes anuncio {
  0% {
    left: 55%;
  }
  100% {
    left: -105%;
  }
}
