<div class="advertisements px-0">
  <div class="advertisements-container position-relative d-flex justify-content-end ">
    <span class="event">EVENT1</span>
    <span class="default">{{default}}</span>
    <span class="event">EVENT2</span>
    <span class="default">{{default}}</span>
    <span class="event">EVENT3</span>
    <span class="default">{{default}}</span>
    <span class="event">EVENT4</span>
    <span class="default">{{default}}</span>
    <span class="event">EVENT5</span>
    <span class="default">{{default}}</span>
  </div>
</div>
