<div class="advertisements px-0">
  <div class="advertisements-container position-relative d-flex justify-content-end ">
    <span class="event">{{'home.section4.event' | translate}}6</span>
    <span class="default">{{'home.section4.event2' | translate}}</span>
    <span class="event">{{'home.section4.event' | translate}}7</span>
    <span class="default">{{'home.section4.event2' | translate}}</span>
    <span class="event">{{'home.section4.event' | translate}}8</span>
    <span class="default">{{'home.section4.event2' | translate}}</span>
  </div>
</div>
