@import '../../app.component.scss';

button{
  color: $dark-blue;
  background-color: #ffffff;
  width: 175px;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 3px white;
  padding: 0.3rem 0;
}
